body{
  margin:0;
  Paddig:0;
}

table {
opacity: 0.8;
width: 640px;
border-collapse:
collapse; border-spacing: 0;
position: absolute;
top: 60%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}

td, th {
  border: 1px solid #CCC; height: 30px;
}

th {
background: #F3F3F3;
font-weight: bold;
}

td {
background: #C0C0C0;
text-align: center;
}

.back{
  background-image: url("https://static.pexels.com/photos/24529/pexels-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;
  font-family: 'Open Sans', sans-serif;
}
.back-step1{
  background-image: url("https://static.pexels.com/photos/24121/pexels-photo-24121.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  font-family: 'Open Sans', sans-serif;
}

.back-step2{
  background-image: url("https://static.pexels.com/photos/31257/pexels-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  font-family: 'Open Sans', sans-serif;
}
.back-step3{
  background-image: url("https://static.pexels.com/photos/4162/people-friends-relaxing-chilling.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  font-family: 'Open Sans', sans-serif;
}

.menu{
  list-style: none;
  padding: 0;
  opacity: 0.75;
  display: inline;
}
.menu ul{
  margin: 0;
  padding: 10px 20px;
  display:flex;
  list-style:none;
}
.menu a:hover{
  opacity: 1;
  color: #1abcf9;
  text-decoration: none;
  color: #FFF ;
  transform: scale(1.05);
  cursor: pointer;
}
.menu-item{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #FFF;
  display: inline-block;
  margin-right: 20px;
  transition: 0.4s;
  text-decoration: none;
}
.menu-item {
display: inline-block;
}
.menu-item:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.menu-item:hover:after {
  width: 100%;
  background: #FF4500;
}
.mainHeader{
  color: #FFF;
  padding: 10px;
  margin: auto;
  font-size: 3.0rem;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0;
  position: absolute;
  bottom: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.subHeader{
  color: #FFF;
  padding: 10px;
  margin: auto;
  font-size: 2.0rem;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
